body{
	font-family: 'Gochi Hand', cursive;
	font-size: 16px;
}

header{
	width: 100%;
	height: 300px;
	float: right;
	background: blue;
}

h2, h3{
	color: orange;
}

header h2{
	color: white;
}

p.alerta{
	color: darkred;
}
.letragrande{
	font-size: 30px;
}

div{
	width: 200px;
	height: 200px;
	background: yellow;
	margin: 20px;
	border: 1px solid black;
}
div#amarillo{
	width: 200px;
	height: 200px;
	background: red;
	margin: 20px;
	border: 1px solid black;
}

.azul{
	color: blue;
}
.verde{
	color: darkgreen;
}
.letra_grande{
	font-size: 30px;
}
#rojo{
	color: darkred;
}


/* ******************************* */
/* 
[nombre del atributo]

[nombre_atributo=valor]

[nombre_atributo~=valor] 

[nombre_atributo|=valor] 

*/
p[class]{
	text-decoration: underline;
}
h2[title="Primer Ejemplo de h2"]{
	color: darkred;
}
p[class~="letra_grande"]{
	text-decoration: none;
}
a[lang|="es"]{
	font-style: italic;
}

/* */